/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
  font-family: "Neucha", cursive;
}
nav ul a,
nav .brand-logo {
  color: #ff0000 !important;
}

p {
  line-height: 2rem;
  text-align: center;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.telephone {
  font-size: 1.5em;
}

.no-pad-bot {
  color: #ff0000;
}

.red-text {
  color: #ff0000!important;
}

.parallax-container {
  height: 500px;
}

.socialSvg {
  display: inline;
  margin: 25px!important;
}

.maps {
  display: grid;
  justify-content: center;
}